<!DOCTYPE html>
<html>
  <head>
    <title>Corridor</title>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=1, initial-scale=1" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">New Game</a>
    </nav>
    <section id="game-state" class="flex-container">
      <% state.split(";").forEach(function(move, i) { %>
        <div class="move <%- !move ? 'no-moves' : '' %>">
          <b><%- i + 1 %>.</b>
          <span>
            <%- move || 'Awaiting first move' %>
          </span>
        </div>
      <% }) %>
    </section>
    <section id="boards">
      <canvas id="game-board" width="360" height="360"></canvas>
    </section>
    <section id="valid-pawn-moves" class="moves">
      <% validPawnMoves.forEach(function(move) { %>
        <a href="/move/<%- move %>?state=<%- state %>"><%- move %></a>
      <% }); %>
    </section>
    <section id="valid-wall-moves" class="moves">
      <% validWallMoves.forEach(function(move) { %>
        <a href="/move/<%- move %>?state=<%- state %>"><%- move %></a>
      <% }); %>
    </section>
    <script>
      window.gamestate = {
        state: "<%- state %>",
        validPawnMoves: "<%- validPawnMoves %>",
        validWallMoves: "<%- validWallMoves %>",
        pawnPositions: <%- JSON.stringify(pawnPositions) %>
      }
    </script>
    <script type="text/javascript" src="/static/client.js"></script>
  </body>
</html>
